*{
  box-sizing: border-box;
}

nav {
  background-color: rgb(66, 110, 255);
  padding: 20px 0;
  color: white;
  text-align: center;
}

nav h1{
  margin-top: 0;
}

.card {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color:#999;
  margin: 20px;
  border-radius: 20%;
  border: solid 7px #999;
}
