nav {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px , 1fr));
  background-color: rgb(255, 174, 0);
  color: white;
}

#logo {
  display: grid;
}
#logo h1 {
  padding-left: 30px;
  font-size: 1.75em;
}

#navs {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px , 1fr));
  list-style: none;
  padding: 0;
}

#navs li {
  align-self: center;
  justify-self: center;
}

#navs a{
  text-decoration: none;
  padding: none;
  color: white;
  font-size: 1.25em;
  font-weight: 600;
}
